@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #facc15;
  }

  * {
    font-family: "Lato", sans-serif;
  }
}
